@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #e6e6ec;
    font-family: 'Montserrat', sans-serif;
    
    input, select {
        font-family: 'Montserrat', sans-serif;
        background-color: #1a1a24;
        border: none;
        border-radius: 50px;
        padding: .75rem 1rem;
        font-weight: 500;
        font-size: 1rem;
        transition: outline .2s ease;
        outline: 2px solid transparent;

        &:focus {
            outline: 2px solid #239cd3;
        }
    }
}
body {
    background-color: #0e0e12;
}
h1 {
    text-align: center;
}