header {
    height: 20vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 -5px 5px -5px black;
    background-image: url('https://images.pond5.com/christian-illustration-wooden-cross-and-illustration-229774079_iconl_wide_nowm.jpeg');
}